
.spinnerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.spinnerContainer:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: gray transparent gray transparent;
  animation: spinnerContainer 1.2s linear infinite;
}
@keyframes spinnerContainer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}